<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="service.formData.Id">
    <div class="form-group">
        <label>Origem</label>
        <select name="Origem_Id" #Origem_Id="ngModel" [(ngModel)]="service.formData.Origem_Id" class="form-control"
        [class.is-invalid]="!isValid && service.formData.Origem_Id==0">
        <option value="0">Selecione</option>  
        <option *ngFor="let item of aeroportoList" value="{{item.Id}}">{{item.Sigla + '- ' + item.Nome}}</option> 
        </select>
      </div>
    
      <div class="form-group">
        <label>Destino</label>
        <select name="Destino_Id" #Destino_Id="ngModel" [(ngModel)]="service.formData.Destino_Id" class="form-control"
        [class.is-invalid]="!isValid && service.formData.Destino_Id==0">
          <option value="0">Selecione</option>
          <option *ngFor="let item of aeroportoList" value="{{item.Id}}">{{item.Sigla + '- ' + item.Nome}}</option>
        </select>
      </div>

     <div class="form-row">
      <div class="form-group col-md-8">
        <label>Data hora do voo</label>
        <input name="DataHora" #DataHora="ngModel" [(ngModel)]="service.formData.DataHora" class="form-control" required>
        <div class="validation-error" *ngIf="DataHora.invalid && DataHora.touched">Campo obrigatório</div>
      </div>    
    </div>

    <div class="form-row">      
      <div class="form-group  col-md-6">
        <label>Tipo de aeronave</label>
        <input name="AeronaveTipo" #AeronaveTipo="ngModel" [(ngModel)]="service.formData.AeronaveTipo" class="form-control" required>
        <div class="validation-error" *ngIf="AeronaveTipo.invalid && AeronaveTipo.touched">Campo obrigatório</div>
      </div>
      <div class="form-group  col-md-6">
        <label>Matrícula da aeronave</label>
        <input name="AeronaveMatricula" #AeronaveMatricula="ngModel" [(ngModel)]="service.formData.AeronaveMatricula" class="form-control" required>
        <div class="validation-error" *ngIf="AeronaveMatricula.invalid && AeronaveMatricula.touched">Campo obrigatório</div>
      </div>
    </div>
      
    
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Gravar</button>
    </div>
  </form>