

<form #form="ngForm" (submit)="onSubmit(form)">



<div class="form-group">
  <label>Origem</label>
  <select name="AeroportoOrigem" #AeroportoOrigem="ngModel" [(ngModel)]="planovooservice.formData.AeroportoOrigem" class="form-control"
  [class.is-invalid]="">
  <option value="0">Selecione</option>  
  <option *ngFor="let item of aeroportoList" value="{{item.Id}}">{{item.Sigla + '- ' + item.Nome}}</option> 
  </select>
</div>

<div class="form-group">
  <label>Destino</label>
  <select name="AeroportoDestino" #AeroportoDestino="ngModel" [(ngModel)]="planovooservice.formData.AeroportoDestino" class="form-control"
  [class.is-invalid]="">
    <option value="0">Selecione</option>
    <option *ngFor="let item of aeroportoList" value="{{item.Id}}">{{item.Sigla + '- ' + item.Nome}}</option>
  </select>
</div>


<div class="form-group">
    <button type="submit" [disabled]="" class="btn btn-lg btn-block">Buscar</button>
  </div>



</form>




<table class="table table-hover">
    <tr *ngFor="let plano of service.list">
      <td (click)="populateForm(plano)">{{plano.DataHora|date:'dd/MM/yyyy'}}</td>
      <td (click)="populateForm(plano)">{{plano.DataHora|date:'HH:mm'}}</td>
      <td (click)="populateForm(plano)">{{plano.SiglaAeroportoOrigem}}</td>
      <td (click)="populateForm(plano)">{{plano.SiglaAeroportoDestino}}</td>
      <td (click)="populateForm(plano)">{{plano.AeronaveTipo}}</td>
      <td (click)="populateForm(plano)">{{plano.AeronaveMatricula}}</td>
      <td><button (click)="onDelete(plano.Id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
  </table>
