<div class="jumbtron">
    <h1 class="display-4 text-center">Registrar voos</h1>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <app-planovoo></app-planovoo>
      </div>
      <div class="col-md-7">
        <app-planovoo-list></app-planovoo-list>
      </div>
    </div>
  </div>